
.slideshow
{
    position:relative;

    width:100%;
    height:100%;
}

.slideshow  .slideshow-entry.show
{
    z-index:1;
}
.slideshow  .slideshow-entry
{
    position:absolute;
    height:100%;
    width:100%;
}

.slideshow-overlay
{
    position: absolute;
    height:100%;
    width:100%;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.slideshow-viewport
{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slideshow-image
{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center center;
}

.slideshow-navbar
{
    margin:1em;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.slideshow-player
{
    margin-top:1em;

    display:flex;
    flex-direction:row;
    justify-content:space-between;

    width: 100%;
}

.slideshow ul
{
    display:flex;
    flex-direction:row;
    list-style: none;
}

.slideshow ul li:first-child { padding-left:0; }
.slideshow ul li { padding:0.25em; }

.slideshow .slideshow-progress {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    overflow: hidden
}

.slideshow .slideshow-progress:not(.prevent):before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0)
}

.slideshow.play:not(.active) .slideshow-progress:not(.prevent):before 
{
    -webkit-animation: slideshowProgress 5s linear 0s 1 normal both;
    animation: slideshowProgress 5s linear 0s 1 normal both
}

.slideshow.fast-backward.active .slideshow-progress:not(.prevent):before,
.slideshow.backward.active .slideshow-progress:not(.prevent):before
{
    -webkit-animation: slideshowProgressCancel 1s cubic-bezier(.19, 1, .22, 1) 0s 1 normal both;
    animation: slideshowProgressCancel 1s cubic-bezier(.19, 1, .22, 1) 0s 1 normal both
}

.slideshow.fast-forward.active .slideshow-progress:not(.prevent):before,
.slideshow.forward.active .slideshow-progress:not(.prevent):before 
{
    -webkit-animation: slideshowProgressComplete 1s cubic-bezier(.19, 1, .22, 1) 0s 1 normal both;
    animation: slideshowProgressComplete 1s cubic-bezier(.19, 1, .22, 1) 0s 1 normal both
}

@keyframes slideshowProgress {
    0% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }

    to {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes slideshowProgressCancel{
    0% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    to {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}

@keyframes slideshowProgressComplete {
    0% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}

@keyframes activeBlink {
    0% { opacity: .5 }
    25% { opacity: .5 }
    to { opacity: 1 }
}

body:not(.touch) .slideshow-theme-default .slideshow-player > *:active,
body:not(.touch) .slideshow-theme-default .slideshow-player > *:active {
    -webkit-animation: activeBlink .3s linear 0s 1 normal both;
    animation: activeBlink .3s linear 0s 1 normal both
}

.slideshow.slideshow-theme-default.active .slideshow-player > * {
    pointer-events: none;
}

.slideshow-theme-default .slideshow-taglabel
{
    position:absolute;
    bottom:0;
    left:0;
    padding:0.5em 1em 0 1em;
    background-color:#FFFFFF;

    width: 100px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 30px 8px 40px;
    font-style: normal;
}

.slideshow-theme-default .slideshow-taglabel i  { font-size:18pt; }
.slideshow-theme-default .slideshow-taglabel .slideshow-title,
.slideshow-theme-default .slideshow-taglabel .slideshow-subtitle
{
    display: block;
    letter-spacing: .05em;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.slideshow-theme-default .slideshow-taglabel .slideshow-title
{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #000;
}
.slideshow-theme-default .slideshow-taglabel .slideshow-subtitle
{
    font-size: 12px;
    line-height: 16px;
    color: #b2b2b2;
}


.slideshow-theme-default .slideshow-page .slideshow-progress {
    position: relative;
    display: inline-block;
    margin:0;
    padding:0;
    border-radius: 0;
    background-color: #e5e5e5;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: width .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: width .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    -o-transition: width .5s cubic-bezier(.19, 1, .22, 1), transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: width .5s cubic-bezier(.19, 1, .22, 1), transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: width .5s cubic-bezier(.19, 1, .22, 1), transform .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    overflow: hidden;
    
}

/* .slideshow-theme-default .slideshow-page .slideshow-progress:before
{
    width: 5px;
    height:5px;
    border-radius:100%;

    background-color: red;
    padding:5px;
    margin:0px;
    position:relative;
    top:auto;
    left:auto;
} */

.slideshow-theme-default .slideshow-page .slideshow-progress
{
    cursor:pointer;
    width: 1px;
    height:1px;
    border-radius:100%;
    padding:1px;
    margin:0px;
    /* background-color: transparent; */
}
.slideshow-theme-default .slideshow-page.active .slideshow-progress {

    cursor:auto;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 1px;
    margin:0;
    padding:0;
    border-radius: 0;
    background-color: #e5e5e5;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: width .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: width .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    -o-transition: width .5s cubic-bezier(.19, 1, .22, 1), transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: width .5s cubic-bezier(.19, 1, .22, 1), transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: width .5s cubic-bezier(.19, 1, .22, 1), transform .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    overflow: hidden;
    margin:0.5px;
}

.slideshow-theme-default .slideshow-backward:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	left:5px;
}

.slideshow-theme-default .slideshow-forward:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
	left:-5px;
}

@keyframes slideshowBackwardActive {
    0% {
        -webkit-transform: translate(-6px) rotate(-45deg);
        transform: translate(-6px) rotate(-45deg)
    }

    to {
        -webkit-transform: translate(0) rotate(-45deg);
        transform: translate(0) rotate(-45deg)
    }
}

@keyframes slideshowForwardActive {
    0% {
        -webkit-transform: translate(6px) rotate(135deg);
        transform: translate(6px) rotate(135deg)
    }

    to {
        -webkit-transform: translate(0) rotate(135deg);
        transform: translate(0) rotate(135deg)
    }
}

body:not(.touch) .slideshow-theme-default .slideshow-fast-backward:active:before,
body:not(.touch) .slideshow-theme-default .slideshow-backward:active:before {
    -webkit-animation: slideshowBackwardActive 1s cubic-bezier(.19, 1, .22, 1) 0s infinite;
    animation: slideshowBackwardActive 1s cubic-bezier(.19, 1, .22, 1) 0s infinite
}

body:not(.touch) .slideshow-theme-default .slideshow-play:active:before,
body:not(.touch) .slideshow-theme-default .slideshow-fast-forward:active:before,
body:not(.touch) .slideshow-theme-default .slideshow-forward:active:before {
    -webkit-animation: slideshowForwardActive 1s cubic-bezier(.19, 1, .22, 1) 0s infinite;
    animation: slideshowForwardActive 1s cubic-bezier(.19, 1, .22, 1) 0s infinite
}

.slideshow-theme-default .slideshow-transition
{
    transition:all 0.25s ease-in-out;
    background-color:#FFF;

    position:absolute;
    z-index:10;

    width:100%;
    height:100%;
    left:0;
}

.slideshow-theme-default:not(.active) .slideshow-transition
{
    width:0%;
}